html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.6em;
    line-height: 1.42857143;
    background-color: rgb(238, 218, 252);
    color: #333;
    background-image: url("../images/top.jpg");
    /*background-repeat: round;*/
    /* background-image: url("../images/351A3125+CMYK.jpg"); */
    background-size: cover;
}

h2 {
    text-align: center;
    margin-top: 2em;
}

p {
    text-align: justify; 
    text-justify: inter-ideograph;   
}
.content {
    margin: 0 auto;
    /*width: 70%;*/
    padding: 7%;
    background-color: rgba(255,255,255,0.9);
}

header {
    background-color: #af82cc;
}

footer {
    font-size: 7pt;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #af82cc;
    /* padding: 15px 15px; */
}

header .title {
    color: white;
    font-family: "YuGothic", sans-serif;
    text-align: center;
    font-size: 4rem;
    line-height: 2em;
    font-weight: bolder;
    border-bottom: solid;
    border-bottom-color: #af82cc;
    border-width: 5px;
}

address {
    padding: 0.5em;
    text-align: center;
}


.wrapper {
    position: relative;
    transition: all 0.3s ease-out;
    min-height: 100%;
    padding-bottom: 100px;
    color: #000;
}

.scroll_top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    background-color: #999;
    opacity: .8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

/*マップ表示関係*/
.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#blue_rect {
/*    padding: 0.5em 2em;
    margin: 1.2em 0;
    margin-top:-.5em;
    margin-left: 1em;
    margin-right: 2em; */
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius:10px;/*角の丸み*/
    word-break: break-all;
    line-height: 1.5em;
    font-weight: bold;
/*    margin: 10em auto; */
    height: 10.3em;
    overflow: auto;
}

.table_reg {
    margin: auto;
}

/*** 個別のページ ***/

/*index.html*/
.info th{
    width:50pt;
    vertical-align: top;

}
.cover_parent {
    /*background: linear-gradient(#af82cc, #243992);*/
    background-color: #af82cc;
    height: 15vw;
    transform: skew(0deg, 4deg);
    position: relative;
}
.cover_child {
    transform: skew(0deg, -4deg);
    font-size: 3.5vw;
    color: white;
    text-align: right;
    text-justify: auto;
    line-height: 1.4em;
    margin-right: 0.5em;
    /*padding: 0.3em;*/
    position: relative;
    top: 0.7em;
    font-weight: bold;
}
.cover_child:first-letter {
    font-size: 5.8vw;
    }

.cover_date {
    text-align:right;
    font-size: 1.5vw;
    color: white;
    line-height: 1.3em;
}
.body_top {
     background-image: url("../images/top.jpg");
}

li.track {
   list-item: square;  
   font-size: 1.1em;
   font-weight: bold; 
}
#imp_date{
    margin-left: 20px;
    text-align: left;
}
#imp_date td{
    padding: .2em;
}

/*qualification.html*/
#ex_eda {
    padding: 0.8em;
}
#abst {
    font-weight: bold;
}

#approach {
    font-style: italic;
}

div.ECQualification{
    padding: 0.5em 1em;
    margin: 1.2em 0;
    margin-left: 1em;
    margin-right: 2em;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 15px;/*角の丸み*/
    word-break: break-all;
}

div.notice{
    text-align: center;
    font-size: 25px;
    color: #ff5050;
    border: 2px solid;
}

.ECQualification strong {
    font-size: 20px;
}
.ECQualification table {
    margin-left: 20px;
    text-align: left;
}
.ECQualification th {
    font-size: 13px;
}

.sponsor{
    text-align: center;
    font-size: 20px;
}
/* registration.html */
.reg-table {
    margin: 20px 10px;
}

/*keynote.html*/
.keynote_frame {
     display:flex;
    flex-wrap:wrap;
    margin-bottom: 100px;
}
.keynote_frame p{
    overflow:hidden;
}

.keynote_affi img{
    float: left;
    width: 135px;
    height: 180px;
    border: 1px solid gray;
    margin-right: 10px;
}
.keynote_affi p{
    margin-top: 0;
    margin-bottom: 0;
}
.keynote_affi h3{
    margin-top: 0;
    margin-bottom: 0;
}
/*cfp.html*/

.schedule{ 
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    background: white;
    color: maroon;
    border: 2px solid;
}
.schedule p{
    vertical-align: center;
    font-size: 15px;
}
.schedule strong{
    line-height: 2em;
    font-size: 22px;
}
.schedule table{
    text-align: left;
    border-spacing: 15px 0;
}
.cathegory {
    font-size: 18pt;
    margin-top: 2.5em;
    margin-bottom: 0em;

}

.genre {
    width: 90%;
    padding: 0.5em 1em;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius:10px;/*角の丸み*/
    line-height: 1.8em;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

.nicograph_rule p{
    text-align: center;
    font-weight: bold;
}

/*program.html*/
.conf_program {
    margin: 0   auto;
}
.conf_program th {
    background-color: #af82cc;
}

.fcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#cont1{
   display: grid;
   display: -ms-grid;
   grid-template-columns: 50px 1fr;
   -ms-grid-columns: 50px 1fr;

/*   grid-template-rows: repeat(52, minmax(27px, 1fr));*/
   grid-template-rows: repeat(51, 20px);
   -ms-grid-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
/*   grid-auto-flow: column; */ 
   border-top: 1px solid;
   border-left: 1px solid;
   flex-basis: 140px;
   flex-grow: 1;
   margin: 10px 10px 10px 10px;
}
#cont2{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50px 1fr 1fr;
    -ms-grid-columns: 50px 1fr 1fr;
    /*   grid-template-rows: repeat(52, minmax(27px, 1fr));*/
    grid-template-rows: repeat(51, 20px);
    -ms-grid-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
    /* grid-auto-flow: column; */
    border-top: 1px solid;
    border-left: 1px solid;
    flex-basis: 180px;
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
}
 #cont3{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50px 1fr 1fr;
    -ms-grid-columns: 50px 1fr 1fr;
    /*   grid-template-rows: repeat(52, minmax(27px, 1fr));*/
    grid-template-rows: repeat(51, 20px);
    -ms-grid-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
    grid-auto-flow: column; 
    border-top: 1px solid;
    border-left: 1px solid;
    flex-basis: 180px;
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
}

.sd1t{
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: top;
    justify-content: center;
    background: #274a78;
    color: white;
}
.sd2t{
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: top;
    justify-content: center;
    background: #274a78;
    color: white;
}
.sd3t{
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: top;
    justify-content: center;
    background: #274a78;
    color: white;
}

.sd1i{
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-grid-column: 2;
    background-color: white;
}

.sd2i{
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-grid-column: 2;
    background-color: white;
}

.sd3i{
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-grid-column: 2;
    background-color: white;
}

.gitem_d{
    background: #274a78;
    color: white;
    
}

.program li {
    list-style-type: none;
}
.program a {
    text-decoration: none;
}

#sd1i1, #sd1i10, #sd2i1, #sd2i11, #sd3i1{
    background-color: rgba(0,0,100,0.25);
}
@media (max-width: 1020px) {
    .fcont{
/*        flex-direction: column; */
display: block;
    }
    
}

.circle {
    display: inline-block;
    width        : 13px;
    height       : 13px;
    background   : #990000;
    border-radius: 50%;
}
.date{
    font-weight: normal;
}

.session li, .poster li, .exhibition li{
    margin-bottom: 10px;
}
.session div, .poster div, .exhibition div{
    font-weight: bold; 
}
.session span, .poster span, .exhibition span{
    display: inline-block;
    width: 60px;
}
.session span::before, .poster span::before, .exhibition span::before {
    content: "(";
}

.session span::after, .poster span::after, .exhibition span::after{
    content: ")";
}
.session small, .poster small, .exhibition small{
    padding-left: 60px;
}

/* committee.html */

#cmember {
    display:flex;
    flex-wrap:wrap;
}


#cmember_item {
    width: 200px;
/*    height: 240px; */
    height: 260px; 
    /* box-shadow: 0 0 0 1px gray; */
    border: 1px solid gray;
    margin-left:-1px;
    margin-top:-1px;
    text-align: center;
    
 
}
#pmember_item {
    width: 400px;
/*    height: 240px; */
    height: 40px; 
    /* box-shadow: 0 0 0 1px gray; */
    /*text-align: center;*/
    
 
}

#cmember_item img {
    width: 90px;
    height: 120px;
    border: 1px solid gray;
}

.position {
    font-weight: bolder;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 1.8rem;
    font-weight: bolder;
    height: 20px;
    margin-bottom: 0.5ex;
}

.affiliation::before {
    content: "(";
}

.affiliation::after {
    content: ")";
}

/*** その他，メディアクエリなど ***/

.scroll_top:hover {
    cursor: pointer;
}

/* Small devices (phones)
  ==========================*/

@media (max-width: 450px) {
    .content {
    width: 100%;
}
    div.notice{
     font-size: 3.5vw;
    }
    .cover_date {
    font-size: 0vw;
    color: white;
    line-height: 1.3em;
}
    .genre td{
    display: block;
    width: 100%;
    }
}

/* Small devices (tablets)
  ==========================*/

@media (max-width: 768px) {
    .content {
    width: 90%;
}

  div.notice{
    font-size: 25px;
}
    .genre td{
    display: block;
    width: 100%;
    }

}

/* Medium devices (desktops)
  ==========================*/

@media (min-width: 992px) {
    body {
        overflow-y: scroll;
    }
    .wrapper {
        margin-left: 200px;
    }
    .content {
        width: 84%;
        overflow: hidden;

    }
   .keynote_affi img{
        float: left;
        width: 270px;
        height: 360px;
        border: 1px solid gray;
        margin-right: 10px;
    }

}

