<Files ~ "^\.ht">
deny from all
</Files>
AuthUserFile /home/art-science/www/nicograph/nico2020/route/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user